# Ignore environment variables file
.env

# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore virtual environment directories
venv/
my_django_environment/

# Ignore Django migration files
*/migrations/*

# Ignore static files collected
/staticfiles/

# Ignore database files
*.sqlite3

# Ignore IDE specific files
.vscode/
.idea/

# Ignore other system files
.DS_Store
Thumbs.db

db.sqlite3
